body {
    background-color: #e1e1e1;
}

.nav-login {
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
}

.nav-login:hover {
    opacity: 100%;
    background-color: white;
    color: black;
}

.nav-signup {
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.nav-signup-new {
    padding: 5px 5px;
    width: 100px;
    margin-left: 40%;
    margin-top: 0;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.nav-signup:hover {
    opacity: 100%;
    background-color: rgba(83, 84, 97, 0.048);
    background-color: #3597ff;
    color: white;
}

.nav-item .btn {
    border-radius: 60px;
}

.nav-item .btn:hover {
    background-color: #3597ff;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    position: relative;
    height: 700px;
    width: 500px;
    border: 1px solid black;
    background-color: #3F6B9B;
    margin-top: 70px;
    text-align: center;
}

.sepasi {
    color: rgba(63, 107, 155, 1);
    ;
}

.hello-there {
    font-family: Sacramento;
    font-size: 60px;
    color: white;
    padding-top: 20px;
}

.welcome {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

.input-form {
    background-color: #e1e1e1;
    width: 200px;
    height: 30px;
}

.tulisan {
    color: aliceblue;
}