* {
    margin: 0;
    padding: 0;
  }
  :root {
    --blue: #00137a;
    --black: #535461;
    --bg1: #fafafa;
    --bg2: #fff;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #e1e1e1;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    color: var(--black);
  }
  header,
  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
  }
  header {
    /* top: 0;
    width: 100%;
    position: fixed; */
    background-color: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  main {
    height: 1000px;
    display: flex;
    background-color: #e1e1e1;
  }
  .sepasi{
    color:rgba(63, 107, 155, 1); ;
  }
  .mid {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:5%;
    position:relative;
    z-index:3;
    margin-left:30%;
    width:40%;
    height: 730px;
    margin-bottom:188px;
    background-color:rgba(63, 107, 155, 1);
    border:1px solid rgba(0, 0, 0, 1);
    box-sizing:border-box;
    text-align: center;
  }
  .welcome{
    font-family: Roboto;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
  .hello-there{
    font-family: Sacramento;
    font-size: 70px;
    color: white;
}
    .backtologin{
       color: white;
       text-decoration: underline;
    }
.input-form{
    background-color: #e1e1e1;
    width: 70%;
    height: 7%;
    border-radius: 5px;
    margin-top: 5%;
    color: #989898;
    font-size: 16px;
    border-style: none;
    padding-left: 5%;
    padding-right: 5%;
}

input::placeholder{
    text-align: left;
}
  .container {
    width: 100%;
    max-width: 1300px;
    min-width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    flex-direction: column;
  }
  .btn {
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn2{
    height: 45px;
    width:261px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:center;
    font-style:normal;
    font-family:Roboto;
    font-size:20px;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: var(--black);
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  ul li {
    display: flex;
    align-items: baseline;
  }
  
  /* ----------- NAV-------------- */
  nav {
    width: 100vw;
    z-index: 999;
    font-weight: 400;
    top: 0;
    min-height: auto;
    background-color: #e1e1e1;
    font-family: "Poppins", sans-serif;
  }
  nav ul {
    flex-direction: row;
    gap: 20px;
  }
  nav ul li {
    gap: 10px;
  }
  
  .nav {
    font-size: 1em;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;
    font-weight: 400;
    padding: 20px 0;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    font-family: Satisfy;
  
    /* font-family: "Quicksand", sans-serif; */
    font-size: 2.5em;
    color: var(--blue);
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    color: black;
  }
  .nav-link {
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 7px;
  }
  .nav-link:hover {
    opacity: 100%;
    background-color: rgba(83, 84, 97, 0.048);
  }
  .nav-item .btn {
    border-radius: 60px;
  }
  .nav-item .btn:hover {
    background-color: #3597ff;
  }
  
  .dropdown-child {
    display: none;
    /* min-width: 100px; */
    /* background-color: #007bff; */
    border-radius: 60px;
    margin-right: -80px;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    width: 133.81px;
    margin-top: 42.4px;
  }
  .dropdown-child .btn {
    margin-top: 10px;
  }
  
  #dropdown:hover .dropdown-child {
    display: flex;
  }
  /* ----------Container Content ------------ */
  
  .container--content {
    box-sizing: border-box;
    width: calc(100vw - 224px);
    max-width: 1300px;
    /* min-width: 85%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  }
  /* --------------------------------------- */
  
  /* ----------- NAV RESPONSIVE-------------- */
  .menu_burger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--blue);
  }
  
  .menu_burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu_burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .menu_burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* ----------- END NAV-------------- */
  
  
  /* ---------- END Footer------------- */
  
  /* -------------Responsive----------------- */
  @media screen and (max-width: 1300px) {
    .container {
      width: 90vw;
    }
  }
  /* @media screen and (max-width: 1150px) {
    .container {
      width: 90vw;
    }
  } */
  
  /* THISS */
  @media screen and (max-width: 770px) {
    body {
      font-size: 0.85rem;
    }
    .nav {
      padding: 25px 0;
    }
    .menu_burger {
      display: block;
      cursor: pointer;
    }
  
    .menu-container {
      z-index: -999;
      position: fixed;
      width: 90vw;
      text-align: end;
      /* height: 0; */
      display: none;
      /* overflow: hidden; */
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
  
      top: 5.21rem;
      left: 0;
      top: 83.7px;
  
      transition: 1s cubic-bezier(0.9, 0.12, 0.2, 1);
  
      /* Terakhir (styling) */
      padding: 2rem 5vw;
      border-right: solid 1px var(--black);
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      font-size: 1rem;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  
      background-color: #fff;
    }
    .menu-container.active {
      display: flex;
    }
  
    .nav-link {
      padding-left: 0;
      flex: 1;
    }
    .dropdown-child {
      width: calc(100vw - 10vw);
    }
  }
  