body{
    background-color: #e1e1e1;
}

.nav-login {
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
}

.nav-login:hover {
    opacity: 100%;
    background-color: white;
    color: black;
}

.nav-signup {
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.nav-signup:hover {
    opacity: 100%;
    background-color: rgba(83, 84, 97, 0.048);
    background-color: #3597ff;
    color: white;
}

.nav-item .btn {
    border-radius: 60px;
}

.nav-item .btn:hover {
    background-color: #3597ff;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    position: relative;
    height:550px;
    width:500px;
    border: 1px solid black;
    background-color: #3F6B9B;
    margin-top: 5%;
    text-align: center;
}

.hello-there{
    font-family: Sacramento;
    font-size: 70px;
    color: white;
    padding-top: 30px;
}

.welcome{
    font-family: Roboto;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

.input-form{
    background-color: #e1e1e1;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-top: 25px;
    font-family: Roboto;
    color: #989898;
    font-size: 16px;
    border-style: none;
    padding-left: 5%;
    padding-right: 5%;
}

input::placeholder{
    text-align: center;
}

.form-signup a{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    background-color: transparent;
    /* border: 1px solid black; */
    width: 100px;
}

.form-signup a:hover{
    color:black;
}

.form-login{
    font-family: Roboto;
    font-size: 16px;
    color: black;
    /* background-color: white; */
    border: 1px solid black;
    width: 80px;
    text-align: center;
    padding:5px 5px 5px 5px;
    border-radius: 10px;
    border-style:none;
}

.form-login a:hover{
    background-color: #e1e1e1;
}

.form-table{
    width:300px;
    height: 80px;
    float: right;
    /* padding-right: 70px;
    padding-left: 70px; */
    position: relative;
}

.signup {
    font-family: Roboto;
    font-size: 16px;
    color: black;
    padding-top: 10px;
    margin-top: 70px;
    text-decoration: none;
}

.signup a{
    color: white;
    text-decoration: underline;
}

.signup a:hover{
    color: rgb(180, 180, 180);
}

.login-but{
    width:80px; 
    height:30px;
    font-family:Roboto; 
    font-size:16px; 
    margin-right:195px;
}
